---
import Layout from '@/layouts/Layout.astro'
import { UserSearchForm } from '@/components/SearchForm'
---

<Layout>
  <article class='typography mb-8 text-center'>
    <h1 class='mb-0'>fknexe</h1>
    <h3 class='mt-0'>Just download a fucking exe from Github</h3>
  </article>
  <UserSearchForm client:load />
</Layout>
