---
import Layout from '@/layouts/Layout.astro'
import { RepositoryDetail } from '@/components/RepositoryDetail'
---

<Layout>
  <div class='mb-6'>
    <a href='javascript:history.back()' class='text-blue-500 hover:underline'
      >&larr; Back to Repositories</a
    >
  </div>

  <RepositoryDetail client:load />
</Layout>
